name = "T766-ControlClient"
product-name = "T766 Control System"
version = "0.1.0"
identifier = "com.t766.control"
publisher = "T766"
before-packaging-command = "cargo build --release --bin T766-ControlClient --bin T766-CheckinApp"

binaries = [
    { path = "target/release/T766-ControlClient.exe", main = true },
    { path = "target/release/T766-CheckinApp.exe", main = false }
]

resources = [
    "settings.toml",
    "checkin-logs"
]

[nsis]
preinstall-section = """
!define REG_RUN_KEY "Software\\Microsoft\\Windows\\CurrentVersion\\Run"

Section "AddToStartup"
  WriteRegStr HKCU "${REG_RUN_KEY}" "T766 checkin app" '"$INSTDIR\\T766-CheckinApp.exe"'
  WriteRegStr HKCU "${REG_RUN_KEY}" "T766 control client" '"$INSTDIR\\T766-ControlClient.exe"'

  CreateDirectory "$LOCALAPPDATA\\T766 Control System"
  IfFileExists "$LOCALAPPDATA\\T766 Control System\\settings.toml" +3 0
  CopyFiles "$INSTDIR\\settings.toml" "$LOCALAPPDATA\\T766 Control System\\settings.toml"
  CopyFiles "$INSTDIR\\checkin-logs" "$LOCALAPPDATA\\T766 Control System\\checkin-logs"
SectionEnd

Section "un.RemoveFromStartup"
  DeleteRegValue HKCU "${REG_RUN_KEY}" "T766 checkin app"
  DeleteRegValue HKCU "${REG_RUN_KEY}" "T766 control client"

  MessageBox MB_YESNO "Do you want to remove application settings & logs?" IDNO +4
  Delete "$LOCALAPPDATA\\T766 Control System\\settings.toml"
  Delete "$LOCALAPPDATA\\T766 Control System\\checkin-logs"
  RMDir "$LOCALAPPDATA\\T766 Control System"
SectionEnd
"""