name = "T766-ControlClient"
product-name = "T766 Control System"
version = "0.1.0"
identifier = "com.t766.control"
publisher = "T766"
before-packaging-command = "cargo build --release --bin T766-ControlClient --bin T766-CheckinApp"

binaries = [
    { path = "target/release/T766-ControlClient.exe", main = true },
    { path = "target/release/T766-CheckinApp.exe", main = false }
]

resources = [
    "settings.toml",
    "checkin-logs"
]

[nsis]
preinstall-section = """
!define APP_NAME "T766 Control System"

Section "AddToStartup"
  nsExec::ExecToStack 'schtasks /Create /F /SC ONLOGON /TN "${APP_NAME}\\T766-ControlClient" /TR "\"$INSTDIR\\T766-ControlClient.exe\"" /RL HIGHEST /DELAY 0000:02'

  nsExec::ExecToStack 'schtasks /Create /F /SC ONLOGON /TN "${APP_NAME}\\T766-CheckinApp" /TR "\"$INSTDIR\\T766-CheckinApp.exe\"" /RL HIGHEST /DELAY 0000:03'

  CreateDirectory "$LOCALAPPDATA\\${APP_NAME}"
  IfFileExists "$LOCALAPPDATA\\${APP_NAME}\\settings.toml" +3 0
  CopyFiles "$INSTDIR\\settings.toml" "$LOCALAPPDATA\\${APP_NAME}\\settings.toml"
  CreateDirectory "$LOCALAPPDATA\\${APP_NAME}\\checkin-logs"

  WriteRegStr HKCU "Software\\T766\\Control" "InstallPath" "$INSTDIR"
SectionEnd

Section "un.RemoveFromStartup"
  nsExec::ExecToStack 'schtasks /Delete /F /TN "${APP_NAME}\\T766-ControlClient"'
  nsExec::ExecToStack 'schtasks /Delete /F /TN "${APP_NAME}\\T766-CheckinApp"'

  DeleteRegKey HKCU "Software\\T766\\Control"

  MessageBox MB_YESNO "Do you want to remove application settings & logs?" IDNO +5
  RMDir /r "$LOCALAPPDATA\\${APP_NAME}\\checkin-logs"
  Delete "$LOCALAPPDATA\\${APP_NAME}\\settings.toml"
  RMDir "$LOCALAPPDATA\\${APP_NAME}"
SectionEnd
"""